* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box
}

html, body {
  height: 100%;
  font-family: sans-serif;
  background: #fafafa;
}

header {
  margin: 0.5em 1em;
}

header h1 {
  float :left;
  color: #444;
}

header .controls {
  float: right
}

header a {
  margin: 0 1em;
  font-size: 1.1em;
  color: #333;
  text-decoration: none;
}

header a:hover {
/*  text-decoration: underline;*/
}

ul { 
  list-style : none;
  flex-grow: 1;
  overflow: auto;
}

ul li {
  padding: 0.4em 1em;
  margin: 1em 0;
  font-size: 1.5em;
}

li > div {
  margin: 0 0 0.2em 0;
}
li > div > span {
 font-size: 0.8em;
 color: #444;
}

li > div > span > em {
  font-size: 0.6em;
}

li > div i {
  font-size: 1.5em;
  color: lightgreen;
  margin: 0 0.2em;
}

li > div {
  font-size: 0.8;
  text-indent: 0;
}
body > section {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.new-message {
  border: 1px solid #ddd;
  border-radius: 0 0.6em 0.6em 0;
  margin: 1em;
  display: flex;
  flex-direction: row;
}
.new-message > * {
  height: 3em;
  font-size: 1.5em;
}

input {
  display: inline-block;
  width: 100%;
  margin-right: -6.5em;
  border: none;
  text-indent: 1em;
}
.new-message button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: #444;
  color: #fff;
  border-radius: 0 0.2em 0.2em 0;
}

.new-message button:hover {
  background: #333;
}

.new-message button:disabled {
  background: #ccc;
  cursor: unset;
}


.key-dialog {
  font-size: 1em;
}

.key-dialog input {
  height: 3em;
  border: 1px solid #ddd
}

.key-dialog textarea {
  width :100%;
  min-height: 20em;
  padding: 1em;
}

